@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}